<%= bootstrap_form_for(@informasi_berita_terkini) do |f| %>
  <% if informasi_berita_terkini.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(informasi_berita_terkini.errors.count, "error") %> mengakibatkan Informasi Berita Terkini tidak dapat disimpan:</h2>

      <ul>
      <% informasi_berita_terkini.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :judul %>
  <%= f.text_field :keterangan %>
  <%= f.submit "Membuat Informasi Berita Terkini" %>
<% end %>
