<p id="notice"><%= notice %></p>

<p>
  <strong>Judul:</strong>
  <%= @informasi_berita_terkini.judul %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @informasi_berita_terkini.keterangan %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @informasi_berita_terkini.tautan %>
</p>

<p>
  <strong>Pengguna:</strong>
  <%= @informasi_berita_terkini.pengguna %>
</p>
<% if pengguna_signed_in? %>
	<% if @pengguna.pegawai_pendakat? || @pengguna.penyelenggara_pendakat? || @pengguna.administrator? %>
<%= link_to 'Edit', edit_informasi_berita_terkini_path(@informasi_berita_terkini) %> |
	<% end %>
<% end %>
<%= link_to 'Batal', informasi_berita_terkini_index_path %>
