<div class="card-container-fluid-custom">
<div class="col-12">
<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="col">
    <div class="card border-primary">
      <div class="card-body">
      <p class="card-title"><strong><h2><%= t('.resend_confirmation_instructions') %></h2></strong></p>
      <div class="card-subtitle">
          <p>Halo, selamat datang di Website Bimas Katolik Kementerian Agama Kabupaten Sumba Tengan</p>
        <p>Untuk mendaftar, mohon lengkapi data yang dibutuhkan di bawah ini:</p>
      </div>
      <div class="card-text">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> %>
      <% end %>
      <%= f.submit t('.resend_confirmation_instructions'), :class => "btn btn-primary btn-lg btn-block" %>
      <div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
        <%= render "devise/shared/links" %>
      </div>
      </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>