<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Data Keagamaan Katolik</h2></div>
    <div class="col-sm-1"><%= link_to fa_icon("arrow-right"), data_keagamaan_katolik_index_path, :class => "btn btn-primary", :title => "Lihat daftar data keagamaan katolik selengkapnya"  %></div>
  </div>
</div>
<div class="row">
<% @data_keagamaan_katolik.each do |data_keagamaan_katolik| %>
  <div class="col-sm-4 p-2">
    <div class="card bg-primary">
      <h5 class="card-header text-white"><%= data_keagamaan_katolik.judul %></h5>
      <div class="card-body bg-light">
        <p class="card-text"><%= truncate(data_keagamaan_katolik.keterangan) %></p>
        <p class="card-text"><%= truncate(data_keagamaan_katolik.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), data_keagamaan_katolik, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.penyelenggara_pendakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_data_keagamaan_katolik_path(data_keagamaan_katolik), :class => "btn btn-warning", :title => "Edit #{data_keagamaan_katolik}"  %>
          <%= link_to fa_icon("trash"), data_keagamaan_katolik, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{data_keagamaan_katolik}"  %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>
<div class="container pagination justify-content-center" >
  <%= paginate @data_keagamaan_katolik, :param_name => "data_keagamaan_katolik_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @data_keagamaan_katolik, entry_name: 'data keagamaan katolik' %></p>
</div>





<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Data Pendidikan Agama Katolik</h2></div>
    <div class="col-sm-1"><%= link_to fa_icon("arrow-right"), data_pendidikan_agama_katolik_index_path, :class => "btn btn-primary", :title => "Lihat daftar data pendidikan agama katolik"  %></div>
  </div>
</div>
<div class="row">
<% @data_pendidikan_agama_katolik.each do |data_pendidikan_agama_katolik| %>
  <div class="col-sm-4 p-2">
    <div class="card bg-primary">
      <h5 class="card-header text-white"><%= data_pendidikan_agama_katolik.judul %></h5>
      <div class="card-body bg-light">
        <p class="card-text"><%= truncate(data_pendidikan_agama_katolik.keterangan) %></p>
        <p class="card-text"><%= truncate(data_pendidikan_agama_katolik.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), data_pendidikan_agama_katolik, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.penyelenggara_pendakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_data_pendidikan_agama_katolik_path(data_pendidikan_agama_katolik), :class => "btn btn-warning", :title => "Edit #{data_pendidikan_agama_katolik}"  %>
          <%= link_to fa_icon("trash"), data_pendidikan_agama_katolik, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{data_pendidikan_agama_katolik}"  %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>
<div class="container pagination justify-content-center" >
  <%= paginate @data_pendidikan_agama_katolik, :param_name => "data_pendidikan_agama_katolik_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @data_pendidikan_agama_katolik, entry_name: 'data pendidikan agama katolik' %></p>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Informasi Berita Terkini</h2></div>
    <div class="col-sm-1"><%= link_to fa_icon("arrow-right"), informasi_berita_terkini_index_path, :class => "btn btn-primary", :title => "Lihat daftar data pendidikan agama katolik"  %></div>
  </div>
</div>
<div class="row">
<% @informasi_berita_terkini.each do |informasi_berita_terkini| %>
  <div class="col-sm-4 p-2">
    <div class="card bg-primary">
      <h5 class="card-header text-white"><%= informasi_berita_terkini.judul %></h5>
      <div class="card-body bg-light">
        <p class="card-text"><%= truncate(informasi_berita_terkini.keterangan) %></p>
        <p class="card-text"><%= truncate(informasi_berita_terkini.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), informasi_berita_terkini, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.penyelenggara_pendakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_informasi_berita_terkini_path(informasi_berita_terkini), :class => "btn btn-warning", :title => "Edit #{informasi_berita_terkini}"  %>
          <%= link_to fa_icon("trash"), informasi_berita_terkini, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{informasi_berita_terkini}"  %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>
<div class="container pagination justify-content-center" >
  <%= paginate @informasi_berita_terkini, :param_name => "informasi_berita_terkini_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @informasi_berita_terkini, entry_name: 'informasi berita terkini' %></p>
</div>





<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Informasi Pengumuman</h2></div>
    <div class="col-sm-1"><%= link_to fa_icon("arrow-right"), informasi_pengumuman_index_path, :class => "btn btn-primary", :title => "Lihat daftar data pendidikan agama katolik"  %></div>
  </div>
</div>
<div class="row">
<% @informasi_pengumuman.each do |informasi_pengumuman| %>
  <div class="col-sm-4 p-2">
    <div class="card bg-primary">
      <h5 class="card-header text-white"><%= informasi_pengumuman.judul %></h5>
      <div class="card-body bg-light">
        <p class="card-text"><%= truncate(informasi_pengumuman.keterangan) %></p>
        <p class="card-text"><%= truncate(informasi_pengumuman.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), informasi_pengumuman, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.penyelenggara_pendakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_informasi_pengumuman_path(informasi_pengumuman), :class => "btn btn-warning", :title => "Edit #{informasi_pengumuman}"  %>
          <%= link_to fa_icon("trash"), informasi_pengumuman, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{informasi_pengumuman}"  %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>
<div class="container pagination justify-content-center" >
  <%= paginate @informasi_pengumuman, :param_name => "informasi_pengumuman_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @informasi_pengumuman, entry_name: 'informasi pengumuman' %></p>
</div>
<br>