<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Data Keagamaan Katolik</h2></div>
    <div class="col-sm-1"><%= link_to data_keagamaan_katolik_index_path, :class => "btn btn-primary", :title => "Lihat daftar data keagamaan katolik selengkapnya" do %>
      <i class='fa fa-arrow-right fa-beat'></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
<% @data_keagamaan_katolik.each do |data_keagamaan_katolik| %>
  <div class="col-sm-4 p-2">
    <div class="card border-primary">
      <div class="card-body">
      <p class="card-title"><strong><%= data_keagamaan_katolik.judul %></strong></p>
      <small><i>Pembuat: <%= data_keagamaan_katolik.pengguna.nama_lengkap %></i></small>
      <div class="card-text">
        <p><%= truncate(data_keagamaan_katolik.keterangan) %></p>
        <p><%= truncate(data_keagamaan_katolik.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), data_keagamaan_katolik, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_urakat? || current_pengguna.kasie_urakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_data_keagamaan_katolik_path(data_keagamaan_katolik), :class => "btn btn-warning", :title => "Edit #{data_keagamaan_katolik.judul}"  %>
          <%= link_to fa_icon("trash"), data_keagamaan_katolik, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{data_keagamaan_katolik.judul}"  %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class="container pagination justify-content-center" >
  <%= paginate @data_keagamaan_katolik, :param_name => "data_keagamaan_katolik_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @data_keagamaan_katolik, entry_name: 'data keagamaan katolik' %></p>
</div>





<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Data Pendidikan Agama Katolik</h2></div>
    <div class="col-sm-1"><%= link_to data_pendidikan_agama_katolik_index_path, :class => "btn btn-primary", :title => "Lihat daftar data pendidikan agama katolik selengkapnya" do %>
      <i class='fa fa-arrow-right fa-beat'></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
<% @data_pendidikan_agama_katolik.each do |data_pendidikan_agama_katolik| %>
<div class="col-sm-4 p-2">
    <div class="card border-primary">
      <div class="card-body">
      <p class="card-title"><strong><%= data_pendidikan_agama_katolik.judul %></strong></p>
      <small><i>Pembuat: <%= data_pendidikan_agama_katolik.pengguna.nama_lengkap %></i></small>
      <div class="card-text">
        <p><%= truncate(data_pendidikan_agama_katolik.keterangan) %></p>
        <p><%= truncate(data_pendidikan_agama_katolik.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), data_pendidikan_agama_katolik, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.penyelenggara_pendakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_data_pendidikan_agama_katolik_path(data_pendidikan_agama_katolik), :class => "btn btn-warning", :title => "Edit #{data_pendidikan_agama_katolik.judul}"  %>
          <%= link_to fa_icon("trash"), data_pendidikan_agama_katolik, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{data_pendidikan_agama_katolik.judul}"  %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>


<div class="container pagination justify-content-center" >
  <%= paginate @data_pendidikan_agama_katolik, :param_name => "data_pendidikan_agama_katolik_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @data_pendidikan_agama_katolik, entry_name: 'data pendidikan agama katolik' %></p>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Informasi Berita Terkini</h2></div>
    <div class="col-sm-1"><%= link_to informasi_berita_terkini_index_path, :class => "btn btn-primary", :title => "Lihat daftar informasi berita terkini selengkapnya" do %>
      <i class='fa fa-arrow-right fa-beat'></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
<% @informasi_berita_terkini.each do |informasi_berita_terkini| %>
  <div class="col-sm-4 p-2">
    <div class="card border-info">
      <div class="card-body">
      <p class="card-title"><strong><%= informasi_berita_terkini.judul %></strong></p>
      <small><i>Pembuat: <%= informasi_berita_terkini.pengguna.nama_lengkap %></i></small>
      <div class="card-text">
        <p><%= truncate(informasi_berita_terkini.keterangan) %></p>
        <p><%= truncate(informasi_berita_terkini.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), informasi_berita_terkini, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.pegawai_urakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_informasi_berita_terkini_path(informasi_berita_terkini), :class => "btn btn-warning", :title => "Edit #{informasi_berita_terkini.judul}"  %>
          <%= link_to fa_icon("trash"), informasi_berita_terkini, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{informasi_berita_terkini.judul}"  %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class="container pagination justify-content-center" >
  <%= paginate @informasi_berita_terkini, :param_name => "informasi_berita_terkini_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @informasi_berita_terkini, entry_name: 'informasi berita terkini' %></p>
</div>





<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Informasi Pengumuman</h2></div>
    <div class="col-sm-1"><%= link_to informasi_pengumuman_index_path, :class => "btn btn-primary", :title => "Lihat daftar informasi pengumuman selengkapnya" do %>
      <i class='fa fa-arrow-right fa-beat'></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
<% @informasi_pengumuman.each do |informasi_pengumuman| %>
  <div class="col-sm-4 p-2">
    <div class="card border-info">
      <div class="card-body">
      <p class="card-title"><strong><%= informasi_pengumuman.judul %></strong></p>
      <small><i>Pembuat: <%= informasi_pengumuman.pengguna.nama_lengkap %></i></small>
      <div class="card-text">
        <p><%= truncate(informasi_pengumuman.keterangan) %></p>
        <p><%= truncate(informasi_pengumuman.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), informasi_pengumuman, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.pegawai_urakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_informasi_pengumuman_path(informasi_pengumuman), :class => "btn btn-warning", :title => "Edit #{informasi_pengumuman.judul}"  %>
          <%= link_to fa_icon("trash"), informasi_pengumuman, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{informasi_pengumuman.judul}"  %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class="container pagination justify-content-center" >
  <%= paginate @informasi_pengumuman, :param_name => "informasi_pengumuman_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @informasi_pengumuman, entry_name: 'informasi pengumuman' %></p>
</div>




<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Galeri Foto</h2></div>
    <div class="col-sm-1"><%= link_to galeri_foto_index_path, :class => "btn btn-primary", :title => "Lihat daftar foto selengkapnya" do %>
      <i class='fa fa-arrow-right fa-beat'></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
<% @galeri_foto.each do |galeri_foto| %>
  <div class="col-sm-4 p-2">
    <div class="card border-primary">
      <div class="card-body">
      <p class="card-title"><strong><%= galeri_foto.judul %></strong></p>
      <small><i>Pembuat: <%= galeri_foto.pengguna.nama_lengkap %></i></small>
      <div class="card-text">
        <p><%= truncate(galeri_foto.keterangan) %></p>
        <p><%= truncate(galeri_foto.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), galeri_foto, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.pegawai_urakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_galeri_foto_path(galeri_foto), :class => "btn btn-warning", :title => "Edit #{galeri_foto.judul}"  %>
          <%= link_to fa_icon("trash"), galeri_foto, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{galeri_foto.judul}"  %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class="container pagination justify-content-center" >
  <%= paginate @galeri_foto, :param_name => "galeri_foto_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @galeri_foto, entry_name: 'galeri foto' %></p>
</div>




<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Galeri Video</h2></div>
    <div class="col-sm-1"><%= link_to galeri_video_index_path, :class => "btn btn-primary", :title => "Lihat daftar foto selengkapnya" do %>
      <i class='fa fa-arrow-right fa-beat'></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
<% @galeri_video.each do |galeri_video| %>
  <div class="col-sm-4 p-2">
    <div class="card border-primary">
      <div class="card-body">
      <p class="card-title"><strong><%= galeri_video.judul %></strong></p>
      <small><i>Pembuat: <%= galeri_video.pengguna.nama_lengkap %></i></small>
      <div class="card-text">
        <p><%= truncate(galeri_video.keterangan) %></p>
        <p><%= truncate(galeri_video.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), galeri_video, :class => "btn btn-success", :title => "Lihat selengkapnya" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.pegawai_urakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_galeri_video_path(galeri_video), :class => "btn btn-warning", :title => "Edit #{galeri_video.judul}"  %>
          <%= link_to fa_icon("trash"), galeri_video, method: :delete, data: { confirm: 'Anda yakin?' }, :class => "btn btn-danger", :title => "Hapus #{galeri_video.judul}"  %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class="container pagination justify-content-center" >
  <%= paginate @galeri_video, :param_name => "galeri_video_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @galeri_video, entry_name: 'galeri video' %></p>
</div>