<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Daftar Data Keagamaan Katolik</h2></div>
    <div class="col-sm-1"><%= link_to fa_icon("arrow-right"), data_keagamaan_katolik_index_path, :class => "btn btn-primary", :title => "Lihat daftar data keagamaan katolik selengkapnya"  %></div>
  </div>
</div>
<div class="row">
<% @data_keagamaan_katolik.each do |data_keagamaan_katolik| %>
  <div class="col-sm-4 p-2">
    <div class="card bg-primary">
      <h5 class="card-header text-white"><%= data_keagamaan_katolik.judul %></h5>
      <div class="card-body bg-light">
        <p class="card-text"><%= truncate(data_keagamaan_katolik.keterangan) %></p>
        <p class="card-text"><%= truncate(data_keagamaan_katolik.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), data_keagamaan_katolik, :class => "btn btn-success", :title => "Lihat #{data_keagamaan_katolik.judul}" %>
        <% if pengguna_signed_in? %>
          <% if @pengguna.pegawai_pendakat? || @pengguna.penyelenggara_pendakat? || @pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_data_keagamaan_katolik_path(data_keagamaan_katolik), :class => "btn btn-warning", :title => "Edit #{data_keagamaan_katolik.judul}"  %>
          <%= link_to fa_icon("trash"), data_keagamaan_katolik, method: :delete, data: { confirm: "Anda yakin akan menghapus #{data_keagamaan_katolik.judul}?" }, :class => "btn btn-danger", :title => "Hapus #{data_keagamaan_katolik.judul}"  %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Daftar Data Pendidikan Agama Katolik</h2></div>
    <div class="col-sm-1"><%= link_to fa_icon("arrow-right"), data_pendidikan_agama_katolik_index_path, :class => "btn btn-primary", :title => "Lihat daftar data pendidikan agama katolik selengkapnya"  %></div>
  </div>
</div>
<div class="row">
<% @data_pendidikan_agama_katolik.each do |data_pendidikan_agama_katolik| %>
  <div class="col-sm-4 p-2">
    <div class="card bg-primary">
      <h5 class="card-header text-white"><%= data_pendidikan_agama_katolik.judul %></h5>
      <div class="card-body bg-light">
        <p class="card-text"><%= truncate(data_pendidikan_agama_katolik.keterangan) %></p>
        <p class="card-text"><%= truncate(data_pendidikan_agama_katolik.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), data_pendidikan_agama_katolik, :class => "btn btn-success", :title => "Lihat #{data_pendidikan_agama_katolik.judul}" %>
        <% if pengguna_signed_in? %>
          <% if @pengguna.pegawai_pendakat? || @pengguna.penyelenggara_pendakat? || @pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_data_pendidikan_agama_katolik_path(data_pendidikan_agama_katolik), :class => "btn btn-warning", :title => "Edit #{data_pendidikan_agama_katolik.judul}"  %>
          <%= link_to fa_icon("trash"), data_pendidikan_agama_katolik, method: :delete, data: { confirm: "Anda yakin akan menghapus #{data_pendidikan_agama_katolik.judul}?" }, :class => "btn btn-danger", :title => "Hapus #{data_pendidikan_agama_katolik.judul}"  %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Daftar Informasi Berita Terkini</h2></div>
    <div class="col-sm-1"><%= link_to fa_icon("arrow-right"), informasi_berita_terkini_index_path, :class => "btn btn-primary", :title => "Lihat daftar informasi berita terkini selengkapnya"  %></div>
  </div>
</div>
<div class="row">
<% @informasi_berita_terkini.each do |informasi_berita_terkini| %>
  <div class="col-sm-4 p-2">
    <div class="card bg-primary">
      <h5 class="card-header text-white"><%= informasi_berita_terkini.judul %></h5>
      <div class="card-body bg-light">
        <p class="card-text"><%= truncate(informasi_berita_terkini.keterangan) %></p>
        <p class="card-text"><%= truncate(informasi_berita_terkini.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), informasi_berita_terkini, :class => "btn btn-success", :title => "Lihat #{informasi_berita_terkini.judul}" %>
        <% if pengguna_signed_in? %>
          <% if @pengguna.pegawai_pendakat? || @pengguna.penyelenggara_pendakat? || @pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_informasi_berita_terkini_path(informasi_berita_terkini), :class => "btn btn-warning", :title => "Edit #{informasi_berita_terkini.judul}"  %>
          <%= link_to fa_icon("trash"), informasi_berita_terkini, method: :delete, data: { confirm: "Anda yakin akan menghapus #{informasi_berita_terkini.judul}?" }, :class => "btn btn-danger", :title => "Hapus #{informasi_berita_terkini.judul}"  %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>



<div class="container mt-4">
  <div class="row">
    <div class="col-md-11"><h2>Daftar Informasi Pengumuman</h2></div>
    <div class="col-sm-1"><%= link_to fa_icon("arrow-right"), informasi_pengumuman_index_path, :class => "btn btn-primary", :title => "Lihat daftar informasi pengumuman selengkapnya"  %></div>
  </div>
</div>
<br>
<div class="row">
<% @informasi_pengumuman.each do |informasi_pengumuman| %>
  <div class="col-sm-4 p-2">
    <div class="card bg-primary">
      <h5 class="card-header text-white"><%= informasi_pengumuman.judul %></h5>
      <div class="card-body bg-light">
        <p class="card-text"><%= truncate(informasi_pengumuman.keterangan) %></p>
        <p class="card-text"><%= truncate(informasi_pengumuman.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), informasi_pengumuman, :class => "btn btn-success", :title => "Lihat #{informasi_pengumuman.judul}" %>
        <% if pengguna_signed_in? %>
          <% if @pengguna.pegawai_pendakat? || @pengguna.penyelenggara_pendakat? || @pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_informasi_pengumuman_path(informasi_pengumuman), :class => "btn btn-warning", :title => "Edit #{informasi_pengumuman.judul}"  %>
          <%= link_to fa_icon("trash"), informasi_pengumuman, method: :delete, data: { confirm: "Anda yakin akan menghapus #{informasi_pengumuman.judul}?" }, :class => "btn btn-danger", :title => "Hapus #{informasi_pengumuman.judul}"  %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>