<%= bootstrap_form_for(@laporan_pegawai_bimkat_sumteng) do |f| %>
  <% if laporan_pegawai_bimkat_sumteng.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laporan_pegawai_bimkat_sumteng.errors.count, "error") %> mengakibatkan Laporan Pegawai Bimkat Sumteng tidak dapat disimpan:</h2>

      <ul>
      <% laporan_pegawai_bimkat_sumteng.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :judul %>
  <%= f.text_field :tautan %>
  <%= f.submit "Membuat Laporan Pegawai Bimkat Sumteng", :class => "btn btn-primary" %>
<% end %>
