<div class="card-container-fluid-custom">
<div class="col-12">
<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="col">
    <div class="card border-primary">
      <div class="card-body">
      <p class="card-title"><strong><h2><%= t('.change_your_password') %></h2></p>
      <div class="card-text">
        <small>
          <p>Untuk memperbarui data Anda, mohon lengkapi data yang dibutuhkan di bawah ini:</p>
        </small>
      </div>
      <div class="card-text">
        <%= f.text_field :nama_lengkap %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% if @minimum_password_length %>
        <small>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        </small>
      <% end %><br />
      <% if @minimum_password_length %>
        <small><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
      <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>%>
        <%= f.submit t('.change_my_password'), :class => "btn btn-primary btn-lg btn-block" %>
        <%= link_to t('devise.shared.links.back'), :back, :class => "btn btn-secondary btn-lg btn-block" %>
      </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>