<div class="card-container-fluid-custom">
<div class="col-12">
<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="col">
    <div class="card border-primary">
      <div class="card-body">
      <p class="card-title"><strong><h2><%= t('.forgot_your_password') %></h2></strong></p>
      <div class="card-subtitle">
          <p>Anda lupa password? mohon lengkapi data di bawah ini:</p>
      </div>
      <div class="card-text">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.submit t('.send_me_reset_password_instructions'), :class => "btn btn-primary btn-lg btn-block" %>
      </div>
      <div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
        <%= render "devise/shared/links" %>
      </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>