<%= bootstrap_form_for(@informasi_pengumuman) do |f| %>
  <% if informasi_pengumuman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(informasi_pengumuman.errors.count, "error") %> mengakibatkan Informasi Pengumuman tidak dapat disimpan:</h2>

      <ul>
      <% informasi_pengumuman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :judul %>
  <%= f.text_field :keterangan %>
  <%= f.text_field :tautan %>
  <%= f.submit "Membuat Informasi Pengumuman" %>
<% end %>
