<h1>Daftar Informasi Pengumuman</h1>

<table>
  <thead>
    <tr>
      <th>Judul</th>
      <th>Keterangan</th>
      <th>Tautan</th>
      <th>Pengguna</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @informasi_pengumuman.each do |informasi_pengumuman| %>
      <tr>
        <td><%= informasi_pengumuman.judul %></td>
        <td><%= informasi_pengumuman.keterangan %></td>
        <td><%= informasi_pengumuman.tautan %></td>
        <td><%= informasi_pengumuman.pengguna %></td>
        <td><%= link_to 'Tampilkan', informasi_pengumuman %></td>
      <% if pengguna_signed_in? %>
        <% if @pengguna.pegawai_pendakat? || @pengguna.penyelenggara_pendakat? || @pengguna.administrator? %>
        <td><%= link_to 'Edit', edit_informasi_pengumuman_path(informasi_pengumuman) %></td>
        <td><%= link_to 'Hapus', informasi_pengumuman, method: :delete, data: { confirm: 'Anda yakin mau menghapusnya?' } %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Membuat Informasi Pengumuman', new_informasi_pengumuman_path %>
