<p id="notice"><%= notice %></p>

<p>
  <strong>Judul:</strong>
  <%= @informasi_pengumuman.judul %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @informasi_pengumuman.keterangan %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @informasi_pengumuman.tautan %>
</p>

<p>
  <strong>Pengguna:</strong>
  <%= @informasi_pengumuman.pengguna %>
</p>
<% if pengguna_signed_in? %>
	<% if @pengguna.pegawai_pendakat? || @pengguna.penyelenggara_pendakat? || @pengguna.administrator? %>
<%= link_to 'Edit', edit_informasi_pengumuman_path(@informasi_pengumuman) %> |
	<% end %>
<% end %>
<%= link_to 'Batal', informasi_pengumuman_index_path %>
