<div class="card-container-fluid-custom">
<div class="col-12">
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="col">
    <div class="card border-primary">
      <div class="card-body">
      <p class="card-title"><strong><h2><%= t('.sign_in') %></h2></strong></p>
      <div class="card-subtitle">
          <p>Halo, selamat datang di Website Bimas Katolik Kementerian Agama Kabupaten Sumba Tengan</p>
        <p>Untuk mendaftar, mohon lengkapi data yang dibutuhkan di bawah ini:</p>
      </div>
      <div class="card-text">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>
      <%= f.submit t('.sign_in'), :class => "btn btn-primary btn-lg btn-block" %>
      <div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
        <%= render "devise/shared/links" %>
      </div>
      </div>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>