<%= bootstrap_form_for(@data_keagamaan_katolik) do |f| %>
  <% if data_keagamaan_katolik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_keagamaan_katolik.errors.count, "error") %> mengakibatkan Data Keagamaan Katolik tidak dapat disimpan:</h2>

      <ul>
      <% data_keagamaan_katolik.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :judul %>
  <%= f.text_field :keterangan %>
  <%= f.text_field :tautan %>
  <%= f.submit "Membuat Data Keagamaan Katolik", :class => "btn btn-primary" %>
<% end %>
