<div class="container mt-4">
  <div class="row">
    <div class="col-md-10"><h2>Daftar Data Keagamaan Katolik</h2></div>
    <div class="col-sm-2"><%= link_to fa_icon("arrow-left"), beranda_index_path, :class => "btn btn-secondary", :title => "Kembali ke Beranda"  %><%= link_to fa_icon("plus-circle"), new_data_keagamaan_katolik_path, :class => "btn btn-primary", :title => "Membuat data keagamaan katolik"  %></div>
  </div>
</div>



<div class="row">
<% @data_keagamaan_katolik.each do |data_keagamaan_katolik| %>
  <div class="col-sm-4 p-2">
    <div class="card bg-primary">
      <h5 class="card-header text-white"><%= data_keagamaan_katolik.judul %></h5>
      <div class="card-body bg-light">
        <p class="card-text"><%= truncate(data_keagamaan_katolik.keterangan) %></p>
        <p class="card-text"><%= truncate(data_keagamaan_katolik.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), data_keagamaan_katolik, :class => "btn btn-success", :title => "Lihat #{data_keagamaan_katolik.judul}" %>
        <% if pengguna_signed_in? %>
          <% if @pengguna.pegawai_pendakat? || @pengguna.penyelenggara_pendakat? || @pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_data_keagamaan_katolik_path(data_keagamaan_katolik), :class => "btn btn-warning", :title => "Edit #{data_keagamaan_katolik.judul}"  %>
          <%= link_to fa_icon("trash"), data_keagamaan_katolik_path(data_keagamaan_katolik),  method: :delete, data: { confirm: "Anda yakin mau menghapus #{data_keagamaan_katolik.judul}" }, :class => "btn btn-danger", :title => "Hapus #{data_keagamaan_katolik.judul}"  %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
<div class="container pagination justify-content-center" >

</div>
</div>
<br>