<%= bootstrap_form_for(@data_pendidikan_agama_katolik) do |f| %>
  <% if data_pendidikan_agama_katolik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_pendidikan_agama_katolik.errors.count, "error") %> mengakibatkan Data Pendidikan Agama Katolik tidak dapat disimpan:</h2>

      <ul>
      <% data_pendidikan_agama_katolik.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :judul %>
  <%= f.text_field :keterangan %>
  <%= f.text_field :tautan %>
  <%= f.submit "Membuat Data Pendidikan Agama Katolik", :class => "btn btn-primary" %>
<% end %>
