<%= bootstrap_form_for(@laporan_guru_agama_katolik) do |f| %>
  <% if laporan_guru_agama_katolik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laporan_guru_agama_katolik.errors.count, "error") %> mengakibatkan Laporan Guru Agama Katolik tidak dapat disimpan:</h2>

      <ul>
      <% laporan_guru_agama_katolik.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :judul %>
  <%= f.text_field :keterangan %>
  <%= f.submit "Membuat Laporan Guru Agama Katolik" %>
<% end %>
