<%= bootstrap_form_for(model: laporan_guru_agama_katolik, local: true) do |form| %>
  <% if laporan_guru_agama_katolik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laporan_guru_agama_katolik.errors.count, "error") %> prohibited this laporan_guru_agama_katolik from being saved:</h2>

      <ul>
      <% laporan_guru_agama_katolik.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :judul %>
  <%= f.text_field :keterangan %>
  <%= f.submit "Membuat Laporan Guru Agama Katolik" %>
<% end %>
