<h1>Laporan Guru Agama Katolik</h1>

<table>
  <thead>
    <tr>
      <th>Judul</th>
      <th>Tautan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laporan_guru_agama_katolik.each do |laporan_guru_agama_katolik| %>
      <tr>
        <td><%= laporan_guru_agama_katolik.judul %></td>
        <td><%= laporan_guru_agama_katolik.tautan %></td>
        <td><%= link_to 'Tampilkan', laporan_guru_agama_katolik %></td>
      <% if pengguna_signed_in? %>
        <% if @pengguna.guru_pendakat? || @pengguna.administrator? %>
        <td><%= link_to 'Edit', edit_laporan_guru_agama_katolik_path(laporan_guru_agama_katolik) %></td>
        <td><%= link_to 'Hapus', laporan_guru_agama_katolik, method: :delete, data: { confirm: 'Anda yakin ingin menghapusnya?' } %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Membuat Laporan Guru Agama Katolik', new_laporan_guru_agama_katolik_path %>
