<div class="container mt-4">
  <div class="row">
    <div class="col-md-10"><h2>Daftar Laporan Guru Agama Katolik</h2></div>
    <div class="col-sm-2">
      <%= link_to fa_icon("arrow-left"), beranda_index_path, :class => "btn btn-primary", :title => "Kembali ke Beranda"  %>
      <%= link_to fa_icon("plus-square"), new_laporan_guru_agama_katolik_path, :class => "btn btn-primary", :title => "Membuat laporan guru agama katolik"  %>
      </div>
  </div>
</div>
<div class="row">
<% @laporan_guru_agama_katolik.each do |laporan_guru_agama_katolik| %>
  <div class="col-sm-4 p-2">
    <div class="card border-success">
      <div class="card-body">
      <p class="card-title"><strong><%= laporan_guru_agama_katolik.judul %></strong></p>
      <small><i>Pembuat: <%= laporan_guru_agama_katolik.pengguna.nama_lengkap %></i></small>
      <div class="card-text">
        <%= truncate(laporan_guru_agama_katolik.tautan) %>
      </div>
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), laporan_guru_agama_katolik, :class => "btn btn-success", :title => "Lihat #{laporan_guru_agama_katolik.judul}" %>
        <% if current_pengguna %>
          <% if current_pengguna.guru_pendakat? %>
          <%= link_to fa_icon("pencil"), edit_laporan_guru_agama_katolik_path(laporan_guru_agama_katolik), :class => "btn btn-warning", :title => "Edit #{laporan_guru_agama_katolik.judul}"  %>
          <%= link_to fa_icon("trash"), laporan_guru_agama_katolik, method: :delete, data: { confirm: "Anda yakin akan menghapus #{laporan_guru_agama_katolik.judul}?" }, :class => "btn btn-danger", :title => "Hapus #{laporan_guru_agama_katolik.judul}"  %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="container pagination justify-content-center" >
  <%= paginate @laporan_guru_agama_katolik, :param_name => "daftar_laporan_guru_agama_katolik_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @laporan_guru_agama_katolik, entry_name: 'laporan guru agama katolik' %></p>
</div>