<p id="notice"><%= notice %></p>

<h1>Galeri Foto</h1>

<table>
  <thead>
    <tr>
      <th>Judul</th>
      <th>Keterangan</th>
      <th>Pengguna</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galeri_foto.each do |galeri_foto| %>
      <tr>
        <td><%= galeri_foto.judul %></td>
        <td><%= galeri_foto.keterangan %></td>
        <td><%= galeri_foto.pengguna %></td>
        <td><%= link_to 'Show', galeri_foto %></td>
        <td><%= link_to 'Edit', edit_galeri_foto_path(galeri_foto) %></td>
        <td><%= link_to 'Destroy', galeri_foto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galeri Foto', new_galeri_foto_path %>
