<div class="container mt-4">
  <div class="row">
    <div class="col-md-10"><h2>Daftar Galeri Foto</h2></div>
    <div class="col-sm-2">
      <%= link_to fa_icon("arrow-left"), beranda_index_path, :class => "btn btn-secondary", :title => "Kembali ke Beranda"  %>
      <%= link_to fa_icon("plus-square"), new_galeri_foto_path, :class => "btn btn-success", :title => "Membuat galeri foto"  %>
      </div>
  </div>
</div>
<div class="row">
<% @galeri_foto.each do |galeri_foto| %>
  <div class="col-sm-4 p-2">
    <div class="card border-primary">
      <div class="card-body">
      <p class="card-title"><strong><%= galeri_foto.judul %></strong></p>
      <small><i>Pembuat: <%= galeri_foto.pengguna.nama_lengkap %></i></small>
      <div class="card-text">
        <p><%= truncate(galeri_foto.keterangan) %></p>
        <p><%= truncate(galeri_foto.tautan) %></p>
      </div>
        <div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
          <%= link_to fa_icon("eye"), galeri_foto, :class => "btn btn-success", :title => "Lihat #{galeri_foto.judul}" %>
        <% if pengguna_signed_in? %>
          <% if current_pengguna.pegawai_pendakat? || current_pengguna.pegawai_urakat? || current_pengguna.administrator? %>
          <%= link_to fa_icon("pencil"), edit_galeri_foto_path(galeri_foto), :class => "btn btn-warning", :title => "Edit #{galeri_foto.judul}"  %>
          <%= link_to fa_icon("trash"), galeri_foto, method: :delete, data: { confirm: "Anda yakin akan menghapus #{galeri_foto.judul}?" }, :class => "btn btn-danger", :title => "Hapus #{galeri_foto.judul}"  %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="container pagination justify-content-center" >
  <%= paginate @galeri_foto, :param_name => "daftar_galeri_foto_page", :class => "pagination-sm" %>
</div>
<p style="text-align: center;"><%= page_entries_info @galeri_foto, entry_name: 'galeri foto' %></p>
</div>