<%= bootstrap_form_for(@galeri_video) do |f| %>
  <% if galeri_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(galeri_video.errors.count, "error") %> mengakibatkan Galeri Video tidak dapat disimpan:</h2>

      <ul>
      <% galeri_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :judul %>
  <%= f.text_field :keterangan %>
  <%= f.text_field :tautan %>
  <%= f.submit "Membuat Galeri Video", :class => "btn btn-primary" %>
<% end %>