<div class="row">
  <div class="col-12 col-md-12">
    <div class="card border-primary">
      <iframe class="card-img-top" src="https://drive.google.com/file/d/<%= @galeri_video.tautan %>/preview" style="height:23rem;" frameborder="0"></iframe>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <h2 class="card-title"><%= @galeri_video.judul %></h2>
            <p class="card-text"><%= @galeri_video.keterangan %></p>
          </div>
          <div class="col-md-2">
            <div class="btn-group btn-group-lg float-right" role="group" aria-label="tampilkan-kembali">
            <%= link_to edit_galeri_video_path(@galeri_video), :class => "btn btn-warning" do %>
              <i class="fa fa-pencil"></i>
                Edit
              <% end %>
            <%= link_to galeri_video_index_path, :class => "btn btn-secondary"  do %>
              <i class="fa fa-arrow-left"></i>
                Batal
              <% end %>
            </div>
          </div>
        </div> 
      </div>  
    </div>
  </div>
</div>